{% extends "userapp/master.html" %}
{% load static %}
{% block user_content %} 
<style>
  
</style>
<h1 style="color: #fff;">MESSAGES</h1>
<table class="table shadow" style="position: unset;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Massage</th>
        <th scope="col">Applied Post</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>neethuchandrathil@gmail.com</td>
        <td>sfgdjghlk</td>
        <td>developer post</td>
        <td><a class="btn btn-dark" href="">view</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>anu1567@gmail.com</td>
        <td>tyturuutykty</td>
        <td>Developer Post</td>
        <td><a class="btn btn-dark" href="">view</a></td>
      </tr>
      <tr> <th scope="row">3</th>
        <td>neethuchandrathil@gmail.com</td>
        <td>rgfjhlk</td>
        <td>Developer Post</td>
        <td><a class="btn btn-dark" href="">view</a></td>
      </tr>
    
    </tbody>
  </table>
</body>


{% endblock %}

  