{% extends "userapp/master.html" %}
{% load static %}
{% block user_content %} 
<style>
  body{
        margin: 0;
        background-image: url("{% static 'images/aboimg.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
</style>
<div class="main shadow">
  <div class="main1 row">
    <div class="col-md-6">
      <img src="{% static 'images/userimg1.png' %}" width="200px" alt="">
    </div>
    <div class="col-md-6">
      <h1>NEETHU C</h1>
      neethuchandrathil@gmail.com <br>
      <a class="btn btn-secondary" href="{% url 'userpage' %}"><i class="bi bi-pencil-square"></i>update</a>
    </div>
    <form class="row g-3">
      <!-- <div class="col-md-6">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" required>
      </div>
      <div class="col-md-6">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" required>
      </div>
     
    <div class="col-md-6">
      <label for="emailAddress" class="form-label">EmailAddress</label>
      <input type="email" class="form-control" id="emailAddress" required>
  </div> -->
  <div class="col-md-6">
    <label for="address" class="form-label">Adress</label>
    <input type="text" class="form-control" id="Address" required>
  </div>
  <div class="col-md-6">
    <label for="contactNumber" class="form-label">ContactNumber</label>
    <input type="3425678756" class="form-control" id="contactNumber" required>
</div>


<div class="col-md-6">
  <label for="city" class="form-label">City</label>
  <input type="text" class="form-control" id="city" required>
</div>
<div class="col-md-6">
  <label for="qualification" class="form-label">Qualification</label>
  <input type="text" class="form-control" id="qualification" required>
</div>
<div class="col-md-6">
  <label for="college" class="form-label">College</label>
  <input type="text" class="form-control" id="college" required>
</div>
<div class="col-md-6">
  <label for="skills" class="form-label">Skills</label>
  <input type="text" class="form-control" id="skills" required>
</div>
<div class="col-md-6">
  <label for="uploadFile" class="form-label">Upload Resume</label>
  <input type="file" class="form-control" id="uploadfile" required>
</div>
{% endblock %}