{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add job</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</head>
<style>
    




    body{
        margin: 0;
        background-image: url("{% static 'images/cmimg1.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
    #nav1{
        background-color: rgb(26, 24, 24);
    }
    a{
        color: #fff;
        font-weight: bold;
        font-size: larger;
        
    }
    .form-group .aa {
        color: rgb(0, 0, 0);
        font-weight: bold;

    }
    /* .form-group{
        padding-left: 100px;
        margin-left: 200px;
    } */
    /* .panel-body{} */
    .container-fluid{
        padding-left: 600px;
        padding-top:80px;
    }
    
   
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav1 " id="nav1">
        <div class="col-md-6">
          <img  src="{% static 'images/logo1.png' %}" width="60px" width="60px" alt="">
         </div>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a  aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
              </ul>
          </div>
          
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a  aria-current="page" href="{% url 'about' %}">About</a>
                </li>
              </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a  aria-current="page" href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
          </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h1>Add Job</h1>

                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <!-- <label for="" class="aa">First Name</label> -->
                                <input type="text" class="form-control" id="firstName" placeholder="Company Name"/><br>
                                <!-- <label for="" class="aa">Last Name</label> -->
                               
                                <!-- <label for="" class="aa">Email address</label> -->
                                <input type="text" class="form-control" id="jobtitle" placeholder="Job Title"/><br>
                                <label for="" class="aa text-white">Post Date</label> 
                                <input type="date" class="form-control" id="postDate" placeholder="Post Date"/><br>
                                 <label for="" class="text-white">Last Date</label> 
                                <input type="date" class="form-control" id="lastDate" placeholder="Last Date"/><br>
                                <!-- <label for="" class="aa">Qualification</label> -->
                               
                                <a class="btn btn-light" href="">Submit</a>
                                <!-- <button class="btn btn-light">Register</button> -->
                            </div>
                        </form>

                    </div>

                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>