{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>applications</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

 </head>   
<style>
   #nav1{
        background-color: rgb(41, 33, 33);
    }
   
a{
        color: #fff;
        font-weight: bold;
        font-size: larger;
        
    }
 
    #menu{
        background-color: rgb(57, 56, 61);
        width: 400px;
        height: 100%;
    }
    #menu .logo{
        display: flex;
        align-items: center;
        color: azure;
        padding: 30px 0 0 30px;

    }
    #menu .logo img{
        width: 100px;
        margin-right: 15px;
    }
    #menu .items{
        margin-top: 80px;
    }
    #menu .items li{
        list-style: none;
        padding: 40px;
    }
    #menu .items li a{
        text-decoration: none;
        color: rgb(243, 243, 232);
       
    }
    #menu .items li:hover{
        background: rgb(27, 26, 26);
    }


  
</style>




<body>
  <nav class="navbar navbar-expand-lg navbar-light nav1 " id="nav1">
    <div  class="col-md-6" >
    
      <img  src="" width="60px" width="60px" alt="">
    
     </div>

     
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!-- <a  aria-current="page" href="">Notifications</a> -->
            </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!-- <a  aria-current="page" href="">SearchBy</a> -->
            </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <a  aria-current="page" href="">SearchBy</a> -->
          </li>
        </ul>
    </div>
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
        Search By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Qualification</a>
        <a class="dropdown-item" href="">City</a>
        <a class="dropdown-item" href="">Company</a>
        
      </div>
    </div>
</nav>

  <div class="row">
    <div class="col-md-4">
       <section id="menu">
         <div class="logo">
            <img src="{% static 'images/userimg1.png' %}">
            <h2>name</h2><hr>
         </div>
         <div class="items">
            <li><a href="{% url 'userprofile' %}">My Profile</a></li>
           
            <li><a href="">MY Applications</a></li>
            <li><a href="">Notifications</a></li>
            
            <li><a href="{% url 'joblist' %}">More jobs</a></li>
             
         </div>
       </section>
</div>
<!-- <div>
  <h1>My Profile</h1>
  <form>
    <div class="form-group">
        <label for="" class="aa">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="first name"/><br>
        <label for="" class="aa">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="last name"/><br>
        <label for="" class="aa">Email address</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="Email Address"/><br>

        <label for="" class="aa">Contact number</label>
        <input type="text" class="form-control" id="contactNumber" placeholder="Contact Number"/><br>
        <label for="" class="aa">Qualification</label>
        <input type="text" class="form-control" id="qualification" placeholder="Qualification"/><br>
        
    </div>
</form>

</div> -->

<div class="container-fluid col-md-6">
  <h1>My Applications</h1>
  <br>
  <form class="row g-3">
      <div class="col-md-6">
          <!-- <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" required> -->
          Wiinnova Software Labs Pvt
          PHP Developer
      </div>
      <div class="col-md-6">
          <!-- <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" required> -->
          <a href="#" class="btn btn-primary">Applied</a>
      </div>
      <br>
      <br>
      <br>

     
    <div class="col-md-6">
      <!-- <label for="emailAddress" class="form-label">EmailAddress</label>
      <input type="email" class="form-control" id="emailAddress" required> -->
      Technobeans IT Solutions
      WEB Developer


  </div>
  
  <div class="col-md-6">
    <!-- <label for="contactNumber" class="form-label">ContactNumber</label>
    <input type="3425678756" class="form-control" id="contactNumber" required> -->
    <a href="#" class="btn btn-primary">Applied</a>
</div>
<br>
<br>
<br>


<div class="col-md-6">
  <!-- <label for="address" class="form-label">Adress</label>
  <input type="text" class="form-control" id="Address" required> -->
  NUOX Technologies
  Mobile Application Developer
</div>


<div class="col-md-6">
  <!-- <label for="city" class="form-label">City</label>
  <input type="text" class="form-control" id="city" required> -->
  <a href="#" class="btn btn-primary">Applied</a>
</div>







  </form>
</div>
  
</body>
</html>

  